<template>
    <q-page padding>
        <span>
            <h6>Preencha os dados necessarios abaixo:</h6>
        </span>
        <q-form
            @submit="onSubmit"
            class="q-gutter-md"
        >
            <q-input
            outlined
            v-model="form.name"
            label="Nome"
            class="col-lg-6 col-xs-12"
            lazy-rules
            :rules="[value => value && value.length > 0 || 'Campo obrigatorio']"
            />

            <q-input
                outlined
                v-model="form.CPF"
                label="CPF"
                class="col-lg-6 col-xs-12"
                mask="###.###.###-##"
                lazy-rules
                :rules="[value => value && value.length > 13 || 'Campo obrigatorio']"
            />

            <q-input
                outlined
                v-model="form.phone"
                label="Telefone"
                class="col-lg-6 col-xs-12"
                mask="(##) #####-####"
                lazy-rules
                :rules="[value => value && value.length > 13 || 'Campo obrigatorio']"
            />

            <q-input
                outlined
                v-model="form.email"
                label="Email"
                class="col-lg-6 col-xs-12"
                lazy-rules
                :rules="[ (val, rules) => rules.email(val) || 'Digite um email valido' ]"
            />

            <div class="col-12 q-gutter-sm">
                <q-btn
                    label="Salvar"
                    color="white"
                    text-color="primary"
                    class="float-right"
                    icon="save"
                    type="submit"
                />
                <q-btn
                    label="Lista"
                    color="primary"
                    text-color="white"
                    class="float-right"
                    :to="{ name: 'listCard' }"
                />
            </div>

        </q-form>
    </q-page>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue';
import cardsService from 'src/services/cards';
import { useQuasar } from 'quasar';
import { useRoute } from 'vue-router';

export default defineComponent({
  name: 'FormCard',

  setup() {
    const { post, findOne, update } = cardsService();
    const $q = useQuasar();
    const route = useRoute();
    const { id } = route.params;

    const form = ref({
      name: '',
      CPF: '',
      phone: '',
      email: '',
    });

    async function getCard(idUser) {
      const res = await findOne(idUser);
      form.value = res;
    }

    onMounted(async () => {
      if (id) {
        await getCard(id);
      }
    });
    const onSubmit = async () => {
      try {
        if (id) {
          await update(form.value);
          $q.notify({ message: 'Usuario atualizado com sucesso!', icon: 'check', color: 'positive' });
        } else {
          await post(form.value);
          $q.notify({ message: 'Usuario cadastrado!', icon: 'check', color: 'positive' });
        }
      } catch (e) {
        $q.notify({ message: 'Usuario nao cadastrado, verifique os dados digitados ou fale com o suporte', icon: 'times', color: 'negative' });
      }
    };

    return {
      form,
      onSubmit,
    };
  },

});
</script>
