<template>
  <q-page padding>
    <q-table
      title="Usuarios"
      :rows="card"
      :columns="columns"
      rows-key="id"
    >
        <template v-slot:top>
            <span class=" text-h5">Usuarios</span>
            <q-space/>
            <q-btn
                color="primary"
                label="Criar Usuario"
                :to="{name: 'formCard'}"
            />
        </template>
        <template v-slot:body-cell-actions="props">
            <q-td :props="props" class="q-gutter-sm">
                <q-btn
                    icon="edit"
                    color="primary"
                    dense
                    size="sm"
                    @click="editCard(props.row.id)"
                />
                <q-btn
                    icon="delete"
                    color="negative"
                    dense
                    size="sm"
                    @click="deleteCard(props.row.id)"
                />
            </q-td>
        </template>
    </q-table>
  </q-page>
</template>

<script>
import { defineComponent, ref, onMounted } from 'vue';
import { useQuasar } from 'quasar';
import cardsService from 'src/services/cards';
import { useRouter } from 'vue-router';

export default defineComponent({
  name: 'IndexPage',
  setup() {
    const $q = useQuasar();
    const card = ref([]);
    const { list, remove } = cardsService();
    const router = useRouter();
    const columns = [
      {
        name: 'id', align: 'center', label: 'ID', field: 'id', sortable: true,
      },
      {
        name: 'name', label: 'Nome', field: 'name', sortable: true, align: 'center',
      },
      {
        name: 'CPF', label: 'Documento', field: 'CPF', align: 'center', sortable: true,
      },
      {
        name: 'phone', label: 'Telefone', field: 'phone', align: 'center',
      },
      {
        name: 'email', label: 'Email', field: 'email', align: 'center', sortable: true,
      },
      {
        name: 'actions', label: '', field: 'actions', align: 'left',
      },
    ];
    const getCard = async () => {
      try {
        const data = await list();
        card.value = data;
      } catch (err) {
        console.error(err);
      }
    };

    const deleteCard = async (id) => {
      try {
        $q.dialog({
          title: 'Deseja continuar?',
          message: 'Voce realmente quer excluir esse usuario?',
          cancel: true,
          persistent: true,
        }).onOk(async () => {
          await remove(id);
          $q.notify({ message: 'Apagado com sucesso', icon: 'check', color: 'positive' });
          await getCard();
        });
      } catch (err) {
        $q.notify({ message: 'Usuario nao apado, verifique com o suporte', icon: 'times', color: 'negative' });
      }
    };

    const editCard = async (id) => {
      router.push({ name: 'formCard', params: { id } });
    };

    onMounted(() => {
      getCard();
    });
    return {
      card,
      columns,
      deleteCard,
      editCard,
    };
  },
});
</script>
